/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body */
body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Navigation */
.nav-link:hover {
  background-color: darkblue;
  color: lightyellow;
}

.nav-link {
  background-color: purple;
  color: lightblue;
}

/* Jumbotron */
.jumbotron {
  color: white;
  background-color: #34568b;
  min-height: 100vh;
  margin-bottom: 0;
}

.jumbotron .container-fluid {
  margin-top: 30vh;
}

/* Search Result Page */
.sidebar-content {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #009B77;
  overflow: auto;
}

.sidebar-content ul {
  border: none;
}

.sidebar-content ul li {
  background-color: #009B77;
  color: white;
  border-left: 0 none !important;
  border-right: 0 none !important;
}

.localUrl {
  text-decoration: none;
  color: lightblue;
}

.localUrl:hover {
  text-decoration: none;
  color: lightpink;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .sidebar-content {
    width: 100%;
  }

  nav button {
    margin-top: 5px;
  }
}